<div class="article">
  <div>
    <h1 style="color: #3abcb1"><%= page.title %></h1>
  </div>
  <div class="info">
    <span class="date">
      <span class="icon">
        <i class="fa-solid fa-calendar fa-fw"></i>
      </span>
      <%= date(page.date, "YYYY/M/D") %>
    </span>
  </div>
  <div class="content" v-pre>
    <%- page.content %>
  </div>
  <div>
    <section class="page-link-container">
      <% site.data.links.forEach(function(link) { %>
      <div class="link-item layout-padding">
        <a href="<%= link.link %>" title="<%= link.name %>" class="link-box" target="_blank" rel="noopener noreferrer">
          <% if (link.avatar) { %>
          <img src="<%= link.avatar %>" alt="<%= link.name %>" class="soft-size--round soft-style--box" />
          <% } %>
          <div>
            <h4 class="text-ellipsis"><%= link.name %></h4>
            <% if (link.description) { %>
            <p class="text-ellipsis"><%= link.description %></p>
            <% } %>
          </div>
        </a>
      </div>
      <% }) %>
    </section>
  </div>
  <% if (page.comments) { %>
  <% if (theme.gitalk.enable) { %>
  <div id="comment">
    <div id="gitalk-container"></div>
  </div>
  <% } %>
  <% if (theme.giscus.enable) { %>
  <div id="comment">
    <div id="giscus-container" class="giscus"></div>
  </div>
  <% } %>
  <% if (theme.waline.enable) { %>
  <div id="comment">
    <div id="waline-container"></div>
  </div>
  <% } %>
  <% if (theme.twikoo.enable) { %>
  <div id="comment">
    <div id="twikoo-container"></div>
  </div>
  <% } %>
  <% } %>
</div>
